# Comment {{{ 

snippet file_head
	#!/usr/bin/env python
	# -*- coding: utf-8 -*-
	# @Author: Zhang Kang
	# @Email: zhangkang-pd@360.cn
	# @Date: $1 
	# @Content: $2

snippet func_head
	"""$1

	Args:
		$2

	Returns:
		$3	

	"""

snippet class_head
	"""$1

	Attributes:
		$2

	"""

# }}}
